[flake8]
show-source=true
statistics=true
max-line-length = 120
ignore = W503, E203
per-file-ignores =
  src/lattifai/__init__.py: E402, F401
  src/lattifai/client.py: F841, E501
  src/lattifai/audio2.py: E226
  src/lattifai/config/media.py: E501
  src/lattifai/config/alignment.py: F401
  src/lattifai/bin/*.py: F541, E501, F811
  src/lattifai/server/app.py: E501
  src/lattifai/alignment/text_align.py: E501
  src/lattifai/alignment/lattice1_worker.py: F401
  src/lattifai/alignment/segmenter.py: F401
  src/lattifai/alignment/tokenizer.py: F401
  src/lattifai/cli/alignment.py: F401
  src/lattifai/cli/caption.py: F401
  src/lattifai/diarization/lattifai.py: F401
  src/lattifai/transcription/lattifai.py: E402
  src/lattifai/transcription/vllm.py: E402, F401
  src/lattifai/youtube/client.py: E501
  src/lattifai/youtube/types.py: F401
  tests/*/*.py: E501, F541, F401, F841, W605, E226, E741
  tests/*.py: F541

exclude =
  .git,
  setup.py,
  app/
  tests/data/captions/*.vtt
