name: CI - Build and Test

on:
  push:
    tags:
      - 'v*.*.*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release-test:
    name: Release Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache model files
        uses: actions/cache@v4
        id: cache-models
        with:
          path: |
            ~/.cache/huggingface/hub
            ~/.cache/modelscope/hub
          key: models-v2-${{ runner.os }}

      - name: Download models
        if: steps.cache-models.outputs.cache-hit != 'true'
        run: |
          pip install modelscope huggingface_hub
          python -c "from modelscope.hub.snapshot_download import snapshot_download; snapshot_download('LattifAI/Lattice-1-Alpha')"
          python -c "from modelscope.hub.snapshot_download import snapshot_download; snapshot_download('LattifAI/Lattice-1')"
          python -c "from modelscope.hub.snapshot_download import snapshot_download; snapshot_download('iic/SenseVoiceSmall')"
          python -c "from modelscope.hub.snapshot_download import snapshot_download; snapshot_download('LattifAI/OmniTokenizer')"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -e ".[all,dev]" --extra-index-url https://lattifai.github.io/pypi/simple/

      - name: Run All Tests
        env:
          LATTIFAI_API_KEY: ${{ secrets.LATTIFAI_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          LATTIFAI_TESTS_CLI_DRYRUN: ${{ secrets.LATTIFAI_TESTS_CLI_DRYRUN }}
        run: |
          pytest tests/ -v --tb=short --cov=src --cov-report=term-missing
          lai transcribe align -Y -v tests/data/SA1.wav transcription.model_name=nvidia/parakeet-tdt-0.6b-v3
          lai transcribe align -Y -v tests/data/SA1.wav transcription.model_name=nvidia/canary-1b-v2

  build-linux:
    if: false  # Disable Linux build for now
    name: Build Linux
    runs-on: ubuntu-${{ matrix.ubuntu-version }}
    strategy:
      matrix:
        ubuntu-version: [22.04]
        python-version: ['3.10']

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip setuptools build wheel auditwheel

      - name: Build platform-specific wheel
        run: |
          # Build wheel
          python -m build --wheel

          # # naming: linux_x86_64.whl -> manylinux_x86_64.whl
          # for whl in dist/*.whl; do
          #   echo "Fix wheel: $(basename $whl)"
          #   auditwheel repair "$whl" --plat manylinux2014_x86_64 -w dist/ || exit 1
          #   rm "$whl"
          # done

      - name: Upload distribution artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-wheel-${{ matrix.ubuntu-version }}-py${{ matrix.python-version }}
          path: dist/*.whl

      - name: Run basic tests
        run: |
          pip install dist/*.whl --extra-index-url https://lattifai.github.io/pypi/simple/
          python tests/test_basic.py  # Run basic tests directly

  build-macos:
    name: Build macOS
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        OS: [macos-15]
        # python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        python-version: ['3.10']

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip setuptools build wheel

      - name: Build platform-specific wheel
        run: |
          python -m build --wheel

      - name: Upload distribution artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-wheel-${{ matrix.OS }}-py${{ matrix.python-version }}
          path: dist/*.whl

      - name: Run basic tests
        run: |
          pip install dist/*.whl --extra-index-url https://lattifai.github.io/pypi/simple/
          python tests/test_basic.py  # Run basic tests directly

  build-windows:
    if: false  # Disable Windows build for now
    name: Build Windows
    runs-on: ${{ matrix.windows-version }}
    strategy:
      matrix:
        windows-version: [windows-2022]  # Could add windows-2019 if needed
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v4

      - uses: microsoft/setup-msbuild@v2

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip setuptools build wheel

      - name: Build platform-specific wheel
        run: |
          # Build wheel
          python -m build --wheel

      - name: Upload distribution artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-wheel-${{ matrix.windows-version }}-py${{ matrix.python-version }}
          path: dist/*.whl

      - name: Run basic tests
        run: |
          pip install (Get-ChildItem dist/*.whl) --extra-index-url https://lattifai.github.io/pypi/simple/
          python tests/test_basic.py  # Run basic tests directly
