name: test_uv
permissions:
  contents: read

on:
  push:
    branches: [ main ]
    paths-ignore: '**.md'
    tags:
      - 'v*.*.*'  # Trigger on release tags like v0.2.5, v1.0.0, etc.
  pull_request:
    branches: [ main ]
    paths-ignore: '**.md'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest, windows-latest]
        python-version: ['3.10', '3.13']  # , '3.14'

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install Dependencies
        run: |
          uv sync --prerelease=allow --all-extras


      - name: Build and Test
        if: runner.os != 'Windows'
        env:
          LATTIFAI_API_KEY: ${{ secrets.LATTIFAI_API_KEY }}
        run: |
          uv run python tests/test_basic.py  # Run basic tests
          uv run pytest tests/caption/test_text_parser.py -v


      - name: Test Cli Commands (Unix & Windows)
        env:
          LATTIFAI_API_KEY: ${{ secrets.LATTIFAI_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: |
          # Test lai-transcribe command
          uv run which lai
          # alignment align
          uv run bash tests/test_audio_formats.sh  # Run audio format tests
          # Gemini Model
          uv run lai-transcribe -Y tests/data/SA1.wav transcription.model_name=gemini-2.5-pro -v
          uv run lai transcribe align -Y -v tests/data/SA1.wav transcription.model_name=gemini-3-flash-preview

      - name: Test Web App Installation
        run: |
          # Test lai-app-install command
          uv run lai-app-install --help
          # Install the web app
          uv run lai-app-install
          # Verify lai-app is installed
          uv run lai-app --help
          # Test lai-server command
          uv run lai-server --help

      # - name: Test Cli Commands (Windows)
      #   if: runner.os == 'Windows'
      #   env:
      #     LATTIFAI_API_KEY: ${{ secrets.LATTIFAI_API_KEY }}
      #     GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      #   run: |
